# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Environment files
.env

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Models & data (if large)
*.pkl
*.joblib
*.h5

# OS
.DS_Store
Thumbs.db
